@font-face {
    font-family: 'Mogena';
    src: url('./fonts/Mogena.ttf');
}

body,
html {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Mogena', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: rgb(224, 211, 175);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#header {
    z-index: 9;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: -50rem;
    background-color: rgb(197, 187, 155);
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 30%);
}

#container {
    position: absolute;
    z-index: 8;
    display: grid;
    grid-template-rows: 350px;
    grid-template-columns: 50%;
    grid-auto-rows: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 211, 175);
    gap: 40px;
    top: 0;
    margin-top: 100px;
    padding-bottom: 60px;
    width: 100%;
    height: auto;
}

.bookContainer {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: rgb(212, 175, 25);
    border-radius: 10px;
    color: rgb(8, 8, 8);
    height: 300px;
    width: 250px;
    gap: 20px;
    box-shadow: 9px 6px 0px 6px #f1f2dd;
}

/* 
.pages {
    display: flex;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 200px;
} */

.buttonCont {
    position: absolute;
    margin-top: 200px;
    margin-left: 130px;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100px;
    height: 150px;
}
.bookButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 186, 186);
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
}
.bookButton:hover {
    background-color: rgb(163, 163, 163);
}
.fa-solid {
    color: rgb(93, 93, 93);
}

.fa-trash-can {
    font-size: 10px;
}

.fa-circle-check,
.fa-circle-xmark {
    font-size: 12px;
    margin-left: 0.5px;
    margin-top: 0.5px;
}

.colorContainer {
    position: absolute;
    margin-top: -75px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 69px;
}

.colorPick {
    background-color: rgba(0, 0, 0, 0%);
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: dashed;
    margin-right: -1px;
}
.colorPick:hover {
    border-color: red;
}
.fontPicker {
    display: none;
    font-size: 22px;
    border-style: dashed;
    border-color: red;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0%);
    border-style: none;
}
.fontPicker:hover {
    background-color: rgba(0, 0, 0, 0%);
}
.fa-font {
    font-size: 18px;
    color: black;
}
.colorSubmit {
    display: none;
}

.bookEdge {
    z-index: 5;
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    margin-left: -20px;
    margin-top: -20px;
    background: rgb(140, 140, 140);
    background: linear-gradient(
        90deg,
        rgba(140, 140, 140, 1) 2%,
        rgba(125, 125, 125, 1) 59%
    );
    width: 50px;
    height: 340px;
}

.wordsDiv {
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bookTitle {
}
.bookAuthor {
}
.bookPages {
}

.fa-folder-plus {
    font-size: 25px;
    color: rgba(26, 26, 26, 70%);
}
#formButton {
    z-index: 11;
    background-color: rgb(253, 251, 207);
    border-color: rgb(208, 208, 182);
    border-width: 3px;
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 100% 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 70px;
    border-style: solid;
    color: rgb(3, 3, 3);
    font-size: 40px;
}

#formButton:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(213, 211, 174);
    border-color: rgb(164, 163, 133);
}

#fillOutForm {
    z-index: 10;
    margin: 0;
    position: absolute;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    border-style: solid;
    border-color: #000;
    border-width: 4px;
}

.form {
    margin: -10px;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 950px) {
    #formButton {
        margin-left: 4rem;
    }

    #container {
        position: absolute;
        z-index: 8;
        display: grid;
        grid-template-rows: 350px;
        grid-template-columns: 400px 400px;
        grid-auto-rows: 350px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(224, 211, 175);
        gap: 50px;
        top: 0;
        margin-top: 70px;
        margin-left: 10rem;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 500px) {
    body {
    }
    #formButton {
        margin-left: 10px;
        background-color: rgba(0, 0, 0, 0%);
        border-style: none;
    }
    #formButton:hover {
        background-color: rgba(0, 0, 0, 0%);
    }
    .bookContainer {
        margin-left: -40px;
        height: 290px;
        width: 240px;
    }
    .bookEdge {
        z-index: 5;
        position: absolute;
        border-radius: 10px 0px 0px 10px;
        margin-left: -20px;
        margin-top: -20px;
        background: rgb(140, 140, 140);
        background: linear-gradient(
            90deg,
            rgba(140, 140, 140, 1) 2%,
            rgba(125, 125, 125, 1) 59%
        );
        width: 50px;
        height: 330px;
    }
    .buttonCont {
        margin-top: 190px;
        margin-left: 120px;
    }
}
